body{
    /* background-color: white; */
    background-image: url("../img/silverware.jpeg");
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
}

h1{
    color: #A4A400;
    /* background-color:#F0F0F0; */
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    text-decoration: underline;
}

h1 span{
    background-color:#F0F0F0;
}

h2{
    text-align: left;
    font-size: 18pt;
    font-weight: normal;
    text-decoration: underline;
    color: #A4A400;
    /* background-color:#F0F0F0; */
    font-family: 'Lucida Sans Unicode', Helvetica,Arial, sans-serif;
}
h2 span{
    background-color:#F0F0F0;
}

a{
    color:#A4A400;
}

em{
    font-weight: bold;
    font-style: unset;
}

abbr{
    text-decoration: underline;
}

pre{
    text-align: justify;
    text-align-last: right;
}

blockquote{
    background-color: #FFFFA8;
    font-style: italic;
}

a img{
    float: right;
}

ul{
   list-style-image: url("../img/pie_icon.gif"); 
}

